{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if conditional != blank or conditional.size > 0 %}
  {% if sectionTitle != blank %}
    <h4 class="section-title">{{ sectionTitle }}</h4>
  {% endif %}
{% else %}
  {% if sectionTitle == blank %}
    <h4 class="section-title">{{ onboarding | t }}</h4>
  {% else %}
    <h4 class="section-title">{{ sectionTitle }}</h4>
  {% endif %}
{% endif %}
