{% if list.size > 0 %}
  <ul class="mega-nav-tier-{{ index }}">
    {% for sublink in list %}
      {% assign list = sublink.links %}
      {% include 'has-dropdown' %}
      <li class="{% if has-dropdown %}has-children{% endif %}">
        <a href="{{ sublink.url }}">{{ sublink.title }} {% if has-dropdown %}<span class="mobile-tier-toggle"></span>{% endif %}</a>
        {% if has-dropdown %}
          {% assign index = index | plus: 1 %}
          {% include 'mega-navigation-links' with list and index %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
