<div class="newsletter-subscription">
  {% if block.settings.title != blank %}
    <h4>{{ block.settings.title | escape }}</h4>
  {% endif %}

  {% form 'customer' %}
    <input class="newsletter-email" name="contact[email]" type="email" placeholder="your@email.com" value="">
    <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
    <input class="newsletter-submit" name="subscribe" type="submit" value="&#57424;">
  {% endform %}
</div>
