{% if product.images.size > 0 %}
  <div class="product-images clearfix">
    <div class="product-main-image {% if section.settings.enable_zoom %}zoom-active{% endif %}">
      {%
        include 'rimg',
        img: product.featured_image,
        size: '1280x1280',
        lazy: true
      %}

      {% if section.settings.enable_zoom %}
        <div class="product-zoom"></div>
      {% endif %}
    </div>

    {% if product.images.size > 1 %}
    <div class="product-thumbnails">
      {% for image in product.images %}
        {% capture image_id %}
          data-image-id="{{ image.id }}"
        {% endcapture %}

        {%
          include 'rimg',
          img: image,
          size: '60x',
          attr: image_id
        %}
      {% endfor %}
    </div>
    {% endif %}
  </div>
{% else %}
  <div class="product-images clearfix">
    <div class="product-main-image">
      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  </div>
{% endif %}

<script type="application/json" data-images>
  {
    {%- for image in product.images %}
      {%- capture rimg_string -%}
        {%
          include 'rimg',
          img: image,
          size: '1280x1280',
          lazy: true
        %}
      {%- endcapture -%}
      "{{ image.id }}": {{ rimg_string | strip_newlines | json }}{%- unless forloop.last %},{%- endunless -%}
    {%- endfor -%}
  }
</script>
